@{
    ViewBag.Title = "Forgot Password";
    string message = ViewBag.ErrorMessage;
    string email = ViewBag.Email;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@if (string.IsNullOrEmpty(email))
{
<div class="row">
    <div class="span8">
        <h2>Forgot Username</h2> 
        <form action="/Account/ForgotPassword" method="post" id="form">
            <fieldset>
                <div id="errorMessage"><span>@message</span></div>
                <div class="clearfix">
                    <label for="username" class="labelleft">Username</label>
                    <div class="input">
                        <input class="medium" id="username" name="username" size="16" type="text" />
                    </div>
                </div><!-- /clearfix -->
                <div class="actions">
                    <input type="submit" class="btn primary" value="Submit"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
else
{
<h2>
    Instructions emailed to @email.
</h2>
}
@section Head{
<script type="text/javascript">
    $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "only alphabets, numbers, - and . allowed"
    );
    $(document).ready(function () {
        $("#form").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 6,
                    maxlength: 32,
                    regex: "^[a-zA-Z0-9._-]+$"
                }
            },
            messages: {
                username: {
                    required: "required",
                    minlength: "min 6 characters",
                    maxlength: "max 32 characters"
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
            }
        });
        $('input#username').focus();
    });
</script>
}