@{
    ViewBag.Title = "Select a plan";
}
<div class="page-header">
    <h1>Select a plan</h1>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Plan 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, augue sit amet interdum scelerisque, nisl ante lacinia sapien, sed vestibulum quam risus ac quam. Maecenas felis est, scelerisque vel rutrum id, sollicitudin id arcu.</p>
        <p><a class="btn success" href="/Home/SelectPlan/1">Select &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Plan 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, augue sit amet interdum scelerisque, nisl ante lacinia sapien, sed vestibulum quam risus ac quam. Maecenas felis est, scelerisque vel rutrum id, sollicitudin id arcu.</p>
        <p><a class="btn success" href="/Home/SelectPlan/2">Select &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Plan 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, augue sit amet interdum scelerisque, nisl ante lacinia sapien, sed vestibulum quam risus ac quam. Maecenas felis est, scelerisque vel rutrum id, sollicitudin id arcu.</p>
        <p><a class="btn success" href="/Home/SelectPlan/3">Select &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Plan 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, augue sit amet interdum scelerisque, nisl ante lacinia sapien, sed vestibulum quam risus ac quam. Maecenas felis est, scelerisque vel rutrum id, sollicitudin id arcu.</p>
        <p><a class="btn success" href="/Home/SelectPlan/4">Select &raquo;</a></p>
    </div>
</div>